<style media="screen">
    .widget{
    	width:600px;
		left: 0;
		margin: 0 auto;
		position: fixed;
		right: 0;
		top: 150px;
        border: 1px solid #999;
        border-radius: 10px;
    }
</style>
<div class="widget">
    <?php echo $this->cssWidget(); ?>
</div> 
